.container,.rta-input ,.labeltext label,.labeltext,.dropdownlevelcellval{
  position:relative;
}

.rta-input {
  margin:0px;
}

.dropdownlevelcell{
  position: absolute;
  left: 0;
  top:31px;
  background: #ffffff;
  z-index: 9998;
  height:150px;
  overflow: scroll;
  overflow-x:hidden ;
  box-shadow: 0px 0px 6px #c1bfbf;
  text-align: center;
}

.dropdownlevelcellval{
  background: #fafafa;
  border: 1px solid transparent;
  color: black;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
}

.labeltext{
  text-align: center;
  cursor:pointer;
  width:56px;
  border:1px solid transparent;
}

.labeltext label{
  left:0px;
  margin-bottom: 0px;
  cursor: grab;
  min-width: 45px;
  display: inline-block;

}

.labeltext label,.labeltext,.rta-input{
  height: 30px;
}
.labeltext label,.dropdownlevelcellval{
  line-height: 30px;
}
.dropdownlevelcell,.rta-input {
  width: 76px;
}
.rta-input,.labeltext label{
  font-size: 18px;
}